body{
    background: #3c3f41;
}


#container
{
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    background: #2f3234;
    color: whitesmoke;
    text-align: center;
    padding: 15px;
}

#content
{
    float: left;
    padding: 20px;
    width: 600px;
}

header h2{
    background: #2f3234;
    color: whitesmoke;

    position: relative;
    left: 0;

    top: -1px;
    width: 100%;
    height: 60px;

    text-align: center;
    z-index: inherit;
}

footer{
    clear: both;
    background: #2f3234;
    color: whitesmoke;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 35px;
    z-index: 10;
}

footer h5{
    text-align: right;
    margin: 10px 10px;
}

.menuContainer{
    background: #a1a1a1;
    font-size: x-large;
    color: #2f3234;

    position: relative;

    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: left;

}

.menuContainer h2{
    margin-top: 0;
}

.mainContainer{
    background: #3c3f41;

    position: relative;
    /*top: 150px;*/

    width: 90%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.logoutButton{
    position: absolute;
    right: 10px;
    top: 20%;
}

/*login*/
#loginForm{

    position: relative;
    top: 10px;


    width: auto;
    height: auto;

    /*margin-left: 10px;*/
    margin-right: auto;
    text-align: left;
}

#loginForm label{
    font-size: x-large;
    font-style: italic;
    color: whitesmoke;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#loginForm input{
    height: 25px;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#loginForm button{
    background: #02b1ee;
    font-size: x-large;

    height: 60px;
    width: 160px;

    margin-top: 10px;
    margin-bottom: 5px;
}

#loginForm a{
    font-size: x-large;
}

/*register*/
#registerForm{

    position: relative;
    top: 10px;


    width: auto;
    height: auto;

    margin-left: 10px;
    margin-right: auto;
    text-align: left;
}

#registerForm label{
    font-size: x-large;
    font-style: italic;
    color: whitesmoke;

    margin-top: 10px;
    margin-bottom: 10px;
}

#registerForm input{
    height: 25px;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
}

#registerForm button{
    background: #02b1ee;
    font-size: x-large;

    height: 60px;
    width: 160px;

    margin-top: 10px;
    margin-bottom: 5px;
}

#registerForm a{
    font-size: x-large;
}

#registerForm h3{
    color: white;
}


/*table*/

table {
    border-collapse: collapse;
    width: 60%;
}

/*help*/
#helpForm{

    position: relative;
    top: 10px;


    width: auto;
    height: auto;

    /*margin-left: 10px;*/
    margin-right: auto;
    text-align: left;
}

#helpForm label{
    font-size: x-large;
    font-style: italic;
    color: whitesmoke;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#helpForm input{
    height: 25px;
    width: 400px;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#helpForm input:focus{
    width: 800px;
}


#helpForm button{
    background: #02b1ee;
    font-size: x-large;

    height: 60px;
    width: 160px;

    margin-top: 10px;
    margin-bottom: 5px;
}

#helpForm h3{
    font-size: x-large;
    color: whitesmoke;
}

#error{
    display: block;
    text-align: left;
    color: red;
    margin-left: 30px;
    top: 30px;
    font-size: x-large;
}

#success{
    display: block;
    text-align: left;
    color: green;
    margin-left: 30px;
    top: 30px;
    font-size: x-large;
}

#helpForm textarea {
    width: 600px;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: x-large;
    resize: none;
}
